<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Create your fully custom Soundcloud Embed! - Oscillate</title>
    <meta name="google-site-verification" content="XfOfcVITKa4GDIjk0-aFR9DNDpJC4qr_0oNyy5QTy3g">

    <link
        href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&family=Fira+Sans&family=Montserrat:wght@800&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="favicon.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet">
</head>

<body>
    <div id="app" class="top">
        <div class="iframe-wrapper" :style="iframestyle">
            <iframe :width="width" :height="height" scrolling="no" frameborder="no" allow="autoplay"
                :src="apistring"></iframe>
        </div>
        <div class="embedtool">
            <h1>Oscillate</h1>
            <p class="subtitle">Soundcloud Embed Tool</p>
            <p class="text">Hello, thanks for using our tool. We have developed a simple tool for
                making <a class="blue" href="#">custom</a> Sound Cloud Embeds. You have the control over Sound Cloud<a
                    class="blue" chref="#">Premium</a> features and features that <a class="blue" href="#">don't
                    exist</a> dont exist in
                the orginal embed window.</p>
            <h2 class="label-embed">Embed</h2>
            <p class="code">{{ embedshowcase }}</p>
            <br>
            <h2>Settings</h2>
            <div id="settings" class=settings>
                <label for="width">Width</label><br>
                <input id="width" type="text" class="inputset" v-model="width"> <br>
                <label for="height">Height</label> <br>
                <input id="height" type="text" class="inputset" v-model="height"><br>
                <label for="track">Track-Id</label>
                <input id="track" type="text" class="inputset" v-model="track"><br>
                <label for="">Color</label>
                <input type="color" id="favcolor" name="favcolor" v-model="color" value="000000" style="border-radius: 5px; border: 0px solid transparent;
    margin-left: 10px; outline: none;"><br>
                <label for="auto">auto play</label>
                <input type="checkbox" id="A" value="A" v-model="autoplay" class="checkbox">
                <label for="auto">hide related</label>
                <input type="checkbox" id="B" value="B" v-model="related" class="checkbox">
                <label for="auto">show comments</label>
                <input type="checkbox" id="C" value="C" v-model="comments" class="checkbox">
                <label for="auto">show user</label>
                <input type="checkbox" id="D" value="D" v-model="user" class="checkbox">
                <label for="auto">show reposts</label>
                <input type="checkbox" id="E" value="E" v-model="reposts" class="checkbox">
                <label for="auto">show teaser</label>
                <input type="checkbox" id="F" value="F" v-model="teaser" class="checkbox">
                <label for="auto">visual</label>
                <input type="checkbox" id="G" value="G" v-model="visual" class="checkbox">
            </div>
        </div>
    </div>
    <footer>
        <p class="copy">copyright by oxygen© 2023</p>
    </footer>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>

</html>